@charset "UTF-8";

body{
    background-color: rgb(34,34,34);
    font-family: 'Courier New', Courier, monospace;
    
}

header{
    color: aliceblue;
    text-align: center;
}

section{
    background-color: rgb(127, 180, 67);
    border-radius: 15px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 4px 5px rgba(94, 202, 44, 0.671);
}

div{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}

footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;
}

img{
    border: 2px solid black;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    align-items: center;
}